@import url("reset.css");
 @font-face {
  font-family: 'iconfont';
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.woff") format("woff"); } 

html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html, body, .wrap {
  display: -webkit-flex;
  -webkit-flex-direction: column; }
body {
  font-size: 16px;background: #F4F4F4;}
.header{width: 100%;height: .9rem;line-height: .9rem;position: relative;background: #fff;border-bottom: 1px solid #ccc;font-size: .6rem;}
.header h2{width: 100%;text-align: center;font-size: .34rem;font-weight: bold;}
.header span{position: absolute;left: .28rem;font-family: "iconfont";width: 50px;}

.we{width: 100%;height: 100%;overflow: hidden;}
.we ul{background: #fff;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;margin-top: .35rem;}
.we li{height: .9rem;line-height: .9rem;font-size: .5rem;position: relative;border-bottom: 1px solid #ccc;margin-left: .3rem;color: #333333;}
.we li span{font-family: "iconfont";position: absolute;right: .35rem;color: #D1D1D1;}
.we li b{font-size: .28rem;font-weight: normal;}
.we li:last-child{border-bottom: 0;}

