@import url("reset.css");
 @font-face {
  font-family: 'iconfont';
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.woff") format("woff"); } 
html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html, body, .wrap {
  display: -webkit-flex;
  -webkit-flex-direction: column; }
body {
  font-size: 16px;background: #F4F4F4;}
.header{width: 100%;height: 1rem;line-height: 1rem;position: relative;background: #000;border-bottom: 1px solid #ccc;font-size: .5rem;}
.header h2{width: 100%;text-align: center;font-size: .34rem;font-size: .35rem;color: #fff;}
.header h2 b{font-weight: normal;font-size: .24rem;}
.header span{font-family: "iconfont";position: absolute;left: .2rem;color: #fff;font-size: .32rem;}

.weixin{width: 100%;height: 100%;overflow: hidden;}
.top{background: #fff;padding-top: .64rem;}
.top h2{width: 1.22rem;height: 1.22rem;background: url(../img/b1.png) no-repeat;background-size: 100% 100%;margin: auto;}
.top h3{font-size: .37rem;text-align: center;padding: .5rem 0;}
.weixin form{width: 90%;margin: auto;}
.weixin input{width: 100%;height: .6rem;margin-top: .3rem;border: none;outline: none;padding-left: .2rem;}
.weixin .button{width: 100%;height: .8rem;background: #0ACC5A;color: #fff;font-size: .4rem;border: none;border-radius: 3px;margin-top: .3rem;outline: none;border: none;}
.weixin p{position: relative;margin-top: .3rem;padding-left: .2rem;}
.weixin p b{position: absolute;right: .2rem;font-weight: normal;}



