<link rel="stylesheet" type="text/css" href="css/checi_x.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="checi">&#xf104;</span>
			<h2>车次详情</h2>
		</header>
		<section id="home" class="checi_x">
			<div class="scroller">
				<div class="tit">
					<span>里程：600公里</span>
					<b>耗时：6小时</b>
					<strong>停靠站点详情</strong>
				</div>
				<div class="c_box">
					<h2><strong>北京</strong><br/><b>04:47</b><br/><span>2013-05-23</span><br/><i></i></h2>
					<h3><span></span><br/><b>D5210</b></h3>
					<h4><strong>沈阳北</strong><br/><b>14:46</b><br/><span>2013-05-23</span><br/><i></i></h4>
				</div>
				<h6><span><i>&#xf104;</i>前一天</span><b><i></i>2013-5-23</b><span>后一天<i>&#xf105;</i></span></h6>
				<ul class="uls" id="uls">
					<li>硬座: <span>￥86</span><b>预订</b></li>
					<li>硬卧: <span>￥170</span><b class="b">抢票</b></li>
					<li>软卧: <span>￥263</span><b ui-sref="put_in">预订</b></li>
				</ul>
				<p>亲，预订功能服务时间为每日7:00-23:00,请在此时间段进行预定哦。</p>
			</div>
		</section>
	</div>
