<link rel="stylesheet" type="text/css" href="css/checi.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="chepiao">&#xf104;</span>
			<h2>车次列表</h2>
		</header>
		<section id="home" class="checi">
			<div class="scroller">
				<div class="tit">
					<span>北京南-上海</span>
					<b>2016-07-23</b>
					<strong>共39条</strong>
				</div>
				<ul class="uls" id="uls">
					<li ui-sref="checi_x">
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
					<li>
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
					<li>
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
					<li>
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
					<li>
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
					<li>
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
					<li>
						<h2><b>01:11</b><br/><span>05:55</span></h2>
						<h3><span>D2581(高速动车)</span><br/><b><i></i>北京南</b><br/><strong><i></i>沈阳北</strong></h3>
						<h4><span>5小时18分钟</span><br/><b>一等座:<strong>￥414</strong><i>&#xf105;</i></b></h4>
					</li>
				</ul>
			</div>
		</section>
	</div>
