<link rel="stylesheet" type="text/css" href="css/chepiao.css">
<link rel="stylesheet" type="text/css" href="css/foot.css">
	<div class="wrap" page-tab page-iscroll>
		<header class="header"><h2>车票</h2></header>
		<section id="home" class="chepiao">
			<div class="scroller">
				<nav class="nav" id="nav">
					<span class="bg">火车票</span>
					<span>国内|国际机票</span>
				</nav>
				<div class="d_box" id="d_box">
					<div class="huoche">
						<nav class="x_nav" id="x_nav"><span class="no">站站查询</span><span>车次查询</span><span>车站查询</span></nav>
						<div class="x_box" id="x_box">
							<ul class="uls">
								<li><i></i>出发站点<span>北京</span></li>
								<li><i></i>到达站点<span>沈阳北</span></li>
								<li><i></i>出发日期<span>2014-06-22 明天</span></li>
								<li><i></i>只搜索动车/高铁<span>北京</span></li>
							</ul>
							<ul class="uls">
								<li>车次查询</li>
							</ul>
							<ul class="uls">
								<li>车站查询45f4asd5f4asd45f45as45</li>
							</ul>
							
						</div>
						<p id="refer" ui-sref="checi">查询</p>
					</div>
					<div class="guoji">
						<ol class="ols">
							<li class="lis">
								<h3><strong><img src="img/z3.png">出发城市</strong><b>北京<em>&#xf105;</em></b></h3>
								<h1><img src="img/z1.png"></h1>
								<h3><strong><img src="img/z5.png">到达城市</strong><b>上海<em>&#xf105;</em></b></h3>
							</li>
							<li><i></i>出发日期<span>2013-05-23 明天</span></li>
							<li><i></i>起飞时段<span>不限</span></li>
						</ol>
						
						<p>查询</p>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer" id="footer">
			<span title="index.html" ui-sref="index"><img src="img/d17.png"><br>首页</span>
			<span title="xingcheng.html"  ui-sref="xingcheng"><img src="img/d11.png"><br>行程助手</span>
			<span title="chepiao.html"  ui-sref="chepiao"  class="bg"><img src="img/d15.png"><br>车票</span>
			<span title="user.html" ui-sref="user"><img src="img/d13.png"><br>我</span>
		</footer>
	</div>
