<link rel="stylesheet" type="text/css" href="css/collect.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="user">&#xf104;</span>
			<h2>我的收藏</h2>
		</header>
		<section id="home" class="collect">
			<div class="scroller">
				<ul class="uls">
					<li><i class="iconfont">&#xe605;</i>酒店收藏<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe614;</i>景点门票收藏 (美食、特产)<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe63f;</i>周边游收藏<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe677;</i>游轮收藏<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe605;</i>攻略收藏<span>&#xf105;</span></li>
				</ul>
			</div>
		</section>
	</div>

