<link rel="stylesheet" type="text/css" href="css/country.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="guojia">&#xf104;</span>
			<h2>国家主页</h2>
			<b></b>
			<strong></strong>
		</header>
		<section id="home" class="country">
			<div class="scroller">
				<div class="banner"></div>
				<div class="zixun">
					<h2>旅游咨询</h2>
					<h3><span>国家概况</span><span>美食</span><span>签证</span><span>购物</span></h3>
					<h1><span>全部咨询</span></h1>
				</div>
				<div class="luxian">
					<h2>热门路线</h2>
					<h3><span>攻略旅行</span><span>一步推荐</span></h3>
					<h4>泰国，走遍曼谷芭提雅</h4>
					<h5>海边/购物风情街/别墅/观光</h5>
					<p>一步完全攻略行程，海边别墅，购物，风月街，下午茶，第一次出国，语言不好也可以选择。</p>
				</div>
				<div class="luxian">
					<h3><span>攻略旅行</span><span>一步推荐</span></h3>
					<h4>泰国，走遍曼谷芭提雅</h4>
					<h5>海边/购物风情街/别墅/观光</h5>
					<p>一步完全攻略行程，海边别墅，购物，风月街，下午茶，第一次出国，语言不好也可以选择。</p>
				</div>
			</div>
		</section>
	</div>

