<link rel="stylesheet" type="text/css" href="css/denglu.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="user">&#xf104;fadsfas</span>
			<h2>登陆</h2>
		</header>
		<section id="home" class="denglu">
			<h2></h2>
			<h3>旅行，只需一步</h3>
			<p ui-sref="weixin">微信快捷登陆</p>
			<h4 ui-sref="zhuce">注册</h4>
			<h5 ui-sref="login">已有账号？马上登陆</h5>
			<div class="bottom">
				<h6><span>合作账号登陆</span></h6>
				<h1><span><img src="img/a1.png"></span><span><img src="img/a3.png"></span><span><img src="img/a5.png"></span></h1>
			</div>
		</section>
	</div>

