<link rel="stylesheet" type="text/css" href="css/guojia.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="index">&#xf104;</span>
			<h2>选择国家 | 地区</h2>
		</header>
		<section id="guojia" class="guojia">
			<div class="scroller">
				<h3>热门国家</h3>
				<div class="area" id="area">
					<img src="img/u1.jpg" class="img" ui-sref="country">
					<img src="img/u2.jpg">
					<img src="img/u3.jpg">
					<img src="img/u4.jpg" class="img">
					<img src="img/u5.jpg">
					<img src="img/u6.jpg">
					<img src="img/u7.jpg" class="img">
					<img src="img/u8.jpg">
					<img src="img/u9.jpg">
				</div>
				<ul class="uls">
					<li><img src="img/i1.jpg">亚洲<i></i></li>
					<li><img src="img/i2.jpg">欧洲<i></i></li>
					<li><img src="img/i3.jpg">北美洲<i></i></li>
					<li><img src="img/i4.jpg">大洋洲<i></i></li>
				</ul>
			</div>
		</section>
	</div>
