<link rel="stylesheet" type="text/css" href="css/idea.css">

	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="user">&#xf104;</span>
			<h2>意见反馈</h2>
		</header>
		<section id="home" class="idea">
			<div class="scroller">
				<ul class="uls">
					<li class="lis">反馈意见<input type="radio" name="name" checked><label></label><span>建议</span><input type="radio" name="name"><label></label><span>投诉</span></li>
					<li>产品类型<i>请选择产品类型</i></li>
					<li>你的手机号<i>&#xf105;</i></li>
					<li class="lis_p">我们向您承诺，您在假日旅行网的每一次体验都应当是完美的。如果未能达到您的期望，请告诉我们，我们愿意付出努力来信守承诺。</li>
				</ul>
				<p>提交</p>
			</div>
		</section>
	</div>
