<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/foot.css">
<div class="wrap" page-iscroll>
	<section id="home" class="home">
		<div class="scroller">
			<div id="banner" class="swiper-container banner" page-swiper>
				<ul class="swiper-wrapper uls">                                 
					<li class="swiper-slide">
						<img src="img/d25.png">
					</li>
					<li class="swiper-slide lis">
						<img src="img/d25.png">
					</li>
					<li class="swiper-slide">
						<img src="img/d25.png">
					</li>
				</ul>
				<div class="swiper-pagination dv"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
				<div class="search"><span><i></i><input type="text" placeholder="输入目的地、线路、玩乐产品"></span></div>
			</div>
			<h2><i></i><span>城市玩乐</span><b>门票、观光活动、交通</b></h2>
			<div class="guo" id="guo">
				<dl title="国家" ui-sref="guojia"><dt><img src="img/d5.png"></dt><dd><h4>国家地区</h4><h5>| 旅游路线 / 国家咨询 |</h5></dd></dl>
				<dl title="行程" ui-sref="route"><dt><img src="img/d7.png"></dt><dd><h4>行程定制</h4><h5>| 免费定制你的专属行程 |</h5></dd></dl>
			</div>
			<div class="ban">
				<img src="img/y1.gif">
				<img src="img/bb1.png">
			</div>
		</div>
	</section>
	
</div>	
<footer class="footer" id="footer">
	<span title="index.html" class="bg" ui-sref="index"><img src="img/d17.png"><br>首页</span>
	<span title="xingcheng.html" ui-sref="xingcheng"><img src="img/d11.png"><br>行程助手</span>
	<span title="chepiao.html" ui-sref="chepiao"><img src="img/d15.png"><br>车票</span>
	<span title="user.html" ui-sref="user"><img src="img/d13.png"><br>我</span>
</footer>


