<link rel="stylesheet" type="text/css" href="css/indent.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="user">&#xf104;</span>
			<h2>我的订单</h2>
		</header>
		<section id="home" class="indent">
			<div class="scroller">
				<ul class="uls">
					<li><i class="iconfont">&#xe605;</i>酒店订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe721;</i>国内机票订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe64e;</i>国际机票订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe614;</i>景点门票订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe63f;</i>周边游订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe686;</i>出境游订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe677;</i>游轮订单<span>&#xf105;</span></li>
					<li><i class="iconfont">&#xe69c;</i>火车票订单<span>&#xf105;</span></li>
				</ul>
			</div>
		</section>
	</div>
