<link rel="stylesheet" type="text/css" href="css/news.css">

	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="user">&#xf104;</span>
			<h2>我的消息</h2>
		</header>
		<section id="home" class="news">
			<div class="scroller">
				<ul class="uls">
					<li><img src="img/o3.jpg"><b>系统消息<br/><strong>为了感谢您来到悠步，我们将有小礼品相赠</strong></b><span>昨天</span></li>
					<li><img src="img/o4.jpg"><b>悠步团队<br/><strong>欢迎来到悠步旅行，如果你有什么问题，请及时与我们联系</strong></b><span>2016-07-19</span></li>
				</ul>
			</div>
		</section>
	</div>