<link rel="stylesheet" type="text/css" href="css/pay.css">

	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="success">&#xf104;</span>
			<h2>订单详情</h2>
		</header>
		<section id="home" class="pay">
			<div class="scroller">
				<ul class="uls">
					<li>订单状态:<span>待支付</span></li>
					<li>保险发票:<span>18301222632-99</span></li>
					<li>订单编号:<span>18301222632-99</span></li>
					<li>下单时间:<span>2016-07-23</span></li>
					<li>订单金额:<span>￥339</span></li>
				</ul>
				<ul class="uls">
					<h2>D5210 北京南-上海</h2>
					<li>行程类型:<span>旅行</span></li>
					<li>出发/到达站:<span>北京/上海</span></li>
					<li>出发时间:<span>2016-07-26 07:32</span></li>
					<li>到达时间:<span>2016-07-26 12:32</span></li>
				</ul>
				<ul class="uls">
					<li>乘客:<span>薛欢</span></li>
					<li>身份证:<span>132522232622322233</span></li>
					<li>席别:<span>软卧</span></li>
				</ul>
				<ul class="uls">
					<li>联系人:<span>薛欢</span></li>
					<li>联系电话:<span>18801222632</span></li>
				</ul>
			</div>
		</section>
		<footer class="footer" id="footer">
			<h2><span ui-sref="success">取消订单</span><b ui-sref="pay_way">确认支付</b></h2>
		</footer>
	</div>

