<link rel="stylesheet" type="text/css" href="css/pay_way.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="pay">&#xf104;</span>
			<h2>支付方式</h2>
		</header>
		<section id="home" class="pay_way">
			<div class="scroller">
				<dl class="dls"><dt><img src="img/p1.jpg"></dt><dd><h2>微信支付</h2><p>微信支付好礼送不停</p></dd></dl>
				<dl class="dls"><dt><img src="img/p2.jpg"></dt><dd><h2>财付通</h2><p>如果您有财付通账号，推荐您使用财付通支付</p></dd></dl>
				<dl class="dls"><dt><img src="img/p3.jpg"></dt><dd><h2>支付宝</h2><p>如果您有支付宝账号，推荐您使用支付宝支付</p></dd></dl>
				<h3>储蓄卡支付<span>&#xf107;</span></h3>
				<h3>信用卡支付<span>&#xf107;</span></h3>
			</div>
		</section>
	</div>
