<link rel="stylesheet" type="text/css" href="css/personal.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="tell">&#xf104;</span>
			<h2>个人信息</h2>
		</header>
		<section id="home" class="presonal">
			<div class="scroller">
				<ul class="uls">
					<li>头像<span><i class="oi"><img src="img/o5.jpg"></i>　&#xf105;</span></li>
					<li>昵称<span><i>旅行之星</i>　&#xf105;</span></li>
					<li>真实姓名<span>　&#xf105;</span></li>
				</ul>
				<ul class="uls">
					<li>性别<span><i>男</i>　&#xf105;</span></li>
					<li>出生日期<span><i>1980-02-29</i>　&#xf105;</span></li>
					<li>手机号码<span><i>18801222632</i>　&#xf105;</span></li>
					<li>邮箱<span>　&#xf105;</span></li>
				</ul>
			</div>
		</section>
	</div>
