<link rel="stylesheet" type="text/css" href="css/put_in.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="checi_x">&#xf104;</span>
			<h2>提交订单</h2>
		</header>
		<section id="home" class="put_in">
			<div class="scroller">
				<p>5月23日起，互联网购票实行实名验证，首次网购火车票的乘客请先凭有效证件到火车站或代售点办理核验。否则可能出票失败，敬请谅解！未出票订单科全额退款，请放心支付。</p>
				<div class="c_box">
					<h2><strong>北京</strong><br/><b>04:47</b><br/><span>2013-05-23</span><br/><i></i></h2>
					<h3><span></span><br/><b>D5210</b></h3>
					<h4><strong>沈阳北</strong><br/><b>14:46</b><br/><span>2013-05-23</span><br/><i></i></h4>
				</div>
				<ul class="uls">
					<li>软卧:<b>￥366</b></li>
					<li>取票、退票、预订须知</li>
				</ul>
				<ul class="uls">
					<li>乘客信息<span>选择乘客</span></li>
				</ul>
				<ul class="uls">
					<li>联系人</li>
					<li>手机号</li>
				</ul>
			</div>
		</section>
		<footer class="footer" id="footer">
			<h2><span>总价: <strong>￥336 </strong><i>&#xf107;</i></span><b ui-sref="success">提交订单</b></h2>
		</footer>
	</div>
