<link rel="stylesheet" type="text/css" href="css/route.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="index">&#xf104;</span>
			<h2>行程定制</h2>
		</header>
		<section id="home" class="route" page-ajax>
			<div class="scroller">
				<div class="banner"></div>
				<nav class="nav">
					<span><img src="img/g1.png"><br/>免费<br/>私人定制</span>
					<span><img src="img/g3.png"><br/>3分钟<br/>私人定制</span>
					<span><img src="img/g5.png"><br/>24小时<br/>收获定制路线</span>
					<span><img src="img/g7.png"><br/>免费<br/>实时沟通修改</span>
				</nav>
				<div class="deta" id="deta">
					<ul>
						<li>
							<h2>出行人数</h2>
							<h3><span></span><input type="text" value="2"><b></b></h3>
							<h4><span class="bg">有婴儿2岁</span><span>有儿童</span><span>有老人60岁</span></h4>
						</li>
						<li>
							<h2>出行人数</h2>
							<h3><span></span><input type="text" value="2"><b></b></h3>
						</li>
						<li>
							<h2>出行人数</h2>
							<h5>热门目的地/线路(可多选)</h5>
							<h6><span id="span1">日本</span><span>泰国</span><span>韩国</span><span>希腊</span><span>意大利</span><span>英国</span><span>美国</span></h6>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>



