<link rel="stylesheet" type="text/css" href="css/set.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="user">&#xf104;</span>
			<h2>设置</h2>
		</header>
		<section id="home" class="set">
			<div class="scroller">
				<h2>账号管理</h2>
				<ul>
					<li class="lis">去AppStore评分<span>&#xf105;</span></li>
					<li>常见问题<span>&#xf105;</span></li>
				</ul>
				<ul>
					<li class="lis">功能介绍<span>&#xf105;</span></li>
					<li id="we" ui-sref="we">关于我们<span>&#xf105;</span></li>
				</ul>
				<p ui-sref="user">退出登录</p>
			</div>
		</section>
	</div>
