<link rel="stylesheet" type="text/css" href="css/success.css">
	<div class="wrap" page-iscroll>
		<header class="header" id="header">
			<span id="back" ui-sref="put_in">&#xf104;</span>
			<h2>支付方式</h2>
			<b id="home" ui-sref="chepiao">首页</b>
		</header>
		<section id="home" class="success">
			<div class="scroller">
				<div class="banner"></div>
				<div class="s_box" id="s_box" ui-sref="pay">
					<p>恭喜您，信息提交成功，在您收到短信息后进入订单中心进行支付后即可完成购票，请记得查收。</p>
					<h2>1713 北京-沈阳北</h2>
					<h3>订单号:<span>FE45454545F45AS454FDFASD</span><i>&#xf105;</i></h3>
					<h4>订单金额:<span>￥283.0</span></h4>
				</div>
			</div>
		</section>
	</div>
