<link rel="stylesheet" type="text/css" href="css/tell.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<span id="back" ui-sref="login">&#xf104; <b>取消</b></span>
			<h2>绑定手机号</h2>
		</header>
		<section id="home" class="tell">
			<p>验证手机号码，我们将向您发送一条短信验证码，请接收验证码后正确在下方输入（我们会严格保证您的手机号不外露</p>
			<form class="uls">
				<li>手机号<input type="tell" placeholder="输入手机号"></li>
				<li>验证码<input type="text" placeholder="输入验证码"><span>获取验证码</span></li>
			</form>
			<h2 ui-sref="personal">下一步</h2>
		</section>
	</div>
