<link rel="stylesheet" type="text/css" href="css/xingcheng.css">
<link rel="stylesheet" type="text/css" href="css/foot.css">
	<div class="wrap" page-iscroll>
		<header class="header">
			<h2>行程助手</h2>
			<span></span>
		</header>
		<div class="search"><span><i></i><input type="text" placeholder="输入目的地、线路、玩乐产品"></span></div>
		<section id="home" class="cont">
			<div class="scroller">
				<ul class="uls">
					<li class="lis" id="lis" ui-sref="rim"><h2>周边发现</h2><h3>吃喝玩乐购，体会最当地的生活服务</h3></li>
					<li><img src="img/h5.png"><h4>景点</h4><span></span></li>
					<li><img src="img/h7.png"><h4>餐厅</h4><span></span></li>
					<li><img src="img/y2.jpg"><h4>购物</h4><span></span></li>
					<li><img src="img/h9.png"><h4>休闲娱乐</h4><span></span></li>
				</ul>
				<div class="xing">
					<h2>行程攻略</h2>
					<h3>电子行程单/智能导游/路径导航</h3>
					<dl><dt><img src="img/y3.jpg"></dt><dd><h4>日本，界阿尔卑斯枫叶季</h4><h5>来自一步推荐</h5><h6>5天 | 示例行程</h6></dd></dl>
				</div>
			</div>
		</section>
		<footer class="footer" id="footer">
			<span title="index.html" ui-sref="index"><img src="img/d17.png"><br>首页</span>
			<span title="xingcheng.html"  class="bg"><img src="img/d11.png" ui-sref="xingcheng"><br>行程助手</span>
			<span title="chepiao.html"><img src="img/d15.png" ui-sref="chepiao"><br>车票</span>
			<span title="user.html"><img src="img/d13.png" ui-sref="user"><br>我</span>
		</footer>
	</div>


