
	<link rel="stylesheet" type="text/css" href="css/yindao.css">

	<div id="banner" class="swiper-container banner" yin-dao>
		<ul class="swiper-wrapper uls">                                 
			<li class="swiper-slide">
				<h2 class="">海量真实点评</h2>
			</li>
			<li class="swiper-slide lis">
				<h2 class="">查看身边口碑服务</h2>
			</li>
			<li class="swiper-slide">
				<h2 class="">智能行程安排</h2>
			</li>
			<li class="swiper-slide lis">
				<h2 class="">全程语音服务</h2>
			</li>
			<li class="swiper-slide">
				<h2 class="">邂逅同城好友</h2>
				<h3 ui-sref="index">立即体验</h3>
			</li>
		</ul>
		<div class="swiper-pagination dv"><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
	</div>

